{% extends "bootstrap/base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<div class="container">
    <h1>APP</h1>
    <a href="/create" role="button">新規登録画面</a>
    <a href="/logout" role="button">ログアウト</a>
    {% for post in posts %}
    <article>
        <h3>{{ post.title }}</h3>
        <a href="/{{post.id}}/edit" role="button">編集</a>
        <a href="/{{post.id}}/delete" role="button">削除</a>
        <p>作成日:{{ post.created_at }}</p>
        <p>{{ post.body }}</p>
    </article>  
    {% endfor %}
</div>
{% endblock %}